html,
body {
    margin: 0;
    height: 100%;
}

/* This is use to hide content only usefull for accessibility
https://webaim.org/techniques/css/invisiblecontent/#techniques */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
