html,
body {
    margin: 0;
    height: 100%;
}

/* This is use to hide content only usefull for accessibility
https://webaim.org/techniques/css/invisiblecontent/#techniques */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* override DSFR theme for custom components */
/* we can't use :root[data-fr-theme] selector in scoped svelte components */
:root[data-fr-theme="light"] .bg-white {
    background-color: #ffffff;
}

:root[data-fr-theme="light"] td.primary {
    background-color: #f5f5fe;
}

:root[data-fr-theme="dark"] td.primary {
    background-color: #6c6cbb;
}