name: data-sub-localdev

services:
  mongodb:
    image: "mongo:8.0.3"
    command:
      - --replSet
      - rs0
      - --bind_ip_all
    ports:
      - "27017:27017"
    volumes:
      - data-sub-mongodb-data:/data/db
    healthcheck:
      test: [ "CMD", "pgrep", "mongod" ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
    env_file:
      - .env.local
  minio:
    image: "minio/minio:latest"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - data-sub-minio-data:/data/minio
    env_file:
      - .env.local
    command:
      - server
      - /data/minio
      - --console-address
      - ":9001"
  mongo-init:
    image: mongo:8.0.3
    depends_on:
      mongodb:
        condition: service_healthy
    restart: "no"
    command: >
      mongosh --host mongodb:27017 --eval "
        try {
          rs.initiate({
            _id: 'rs0',
            members: [{ _id: 0, host: 'localhost:27017' }]
          });
          print('Replica set successfully initialized');
        } catch(e) {
          if (e.code === 23) {
            print('Replica set already initialized');
          } else {
            throw e;
          }
        }
      "
volumes:
  data-sub-mongodb-data:
    driver: local
  data-sub-minio-data:
    driver: local

