html,
body {
    margin: 0;
    height: 100%;
}

/* same has fr-text--bold */
b {
    font-weight: 700 !important;
}

/* This is use to hide content only useful for accessibility
https://webaim.org/techniques/css/invisiblecontent/#techniques */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* DSFR COLOR */

.active-blue {
    color: var(--text-active-blue-france);
}

/* POSITIONING / LAYOUT */

.flex {
    display: flex;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

/* COLORS */

.background-default {
    background-color: var(--background-default-grey);
}

html {
    scroll-behavior: smooth;
}

.bordered-frame {
    padding: 2.5rem;
    border: 1px solid var(--border-default-grey);
}

.separator {
    width: 100%;
    border-top: 2px solid var(--border-default-grey);
}

.overflow-ellipsis-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}
