html,
body {
    margin: 0;
    height: 100%;
}

/* same has fr-text--bold */
b {
    font-weight: 700 !important;
}

/* TEXT */

.underline {
    text-decoration: underline;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* POSITIONING / LAYOUT */

.flex {
    display: flex;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

/* COLORS */

.background-default {
    background-color: var(--background-default-grey);
}

html {
    scroll-behavior: smooth;
}

.bordered-frame {
    padding: 2.5rem;
    border: 1px solid var(--border-default-grey);
}

.separator {
    width: 100%;
    border-top: 2px solid var(--border-default-grey);
}

.overflow-ellipsis-3 {
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-center {
    text-align: center;
}
