services:
  mini-io:
    image: "minio/minio:latest"
    env_file:
      - .minio.env.local
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data/minio
    command:
      - server
      - /data/minio
      - --console-address
      - ":9001"
volumes:
  minio-data:
    driver: local
