# This is a basic workflow to help you get started with Actions

name: CI

on:
    push:
        branches: [main, develop, PROD]
    pull_request:
        branches: [main, develop, PROD]

env:
    SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
    PUBLIC_ENV: test


defaults:
  run:
    # force execution at project root
    working-directory: .


jobs:
    build:
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: "22.15"
            - run: corepack enable
            - run: pnpm install
            - run: pnpm prepare
            - run: pnpm build
            - run: pnpm generate
            - uses: actions/cache@v3
              with:
                  path: |
                      **/tsoa/
                      **/build/
                      **/node_modules/
                  key: ${{ runner.os }}-node-${{ github.run_id }}
    lint:
        runs-on: ubuntu-22.04
        needs: build
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: "22.15"
            - uses: actions/cache@v3
              with:
                  path: |
                      **/tsoa/
                      **/build/
                      **/node_modules/
                  key: ${{ runner.os }}-node-${{ github.run_id }}
            - run: corepack enable
            - run: pnpm lint
    tests-api-integ:
        runs-on: ubuntu-22.04
        needs: build
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: "22.15"
            - uses: actions/cache@v3
              with:
                  path: |
                      **/tsoa/
                      **/build/
                      **/node_modules/
                  key: ${{ runner.os }}-node-${{ github.run_id }}
            - run: corepack enable
            - run: pnpm test:integ
              working-directory: "./packages/api"
    tests-api-unit:
        runs-on: ubuntu-22.04
        needs: build
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: "22.15"
            - uses: actions/cache@v3
              with:
                  path: |
                      **/tsoa/
                      **/build/
                      **/node_modules/
                  key: ${{ runner.os }}-node-${{ github.run_id }}
            - run: corepack enable
            - run: pnpm test:unit
              working-directory: "./packages/api"
    tests-front:
        runs-on: ubuntu-22.04
        needs: build
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: "22.15"
            - uses: actions/cache@v3
              with:
                  path: |
                      **/tsoa/
                      **/build/
                      **/node_modules/
                  key: ${{ runner.os }}-node-${{ github.run_id }}
            - run: corepack enable
            - run: pnpm test
              working-directory: "./packages/front"
